<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main class="py-5">
  <div class="jumbotron">
    <h1>Tiny App Home</h1>
    <p>Welcome to my tiny app!</p>
    <h2>Viarables:</h2>
    <ul><% for ( let url in urlDatabase ) { %>    
      <li>URL: <%= urlDatabase[url] -%>, shortened: <%= url -%></li>
    <% } %>
    </ul>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>