<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<%- include('../partials/header'); %>

<main class="py-5">
  <div class="card text-center">
    <div class="card-header"></div>
    <div class="card-body">
      <h1 class="h5 card-title">TinyURL for: <%= longURL %></h1>
      <p class="card-text">
        Short URL ID: <a href="/urls/<%= id %>"><%= id %></a>
      </p>
    </div>
    <div class="card-footer text-muted"></div>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

<%- include('../partials/scripts'); %>
</body>
</html>