<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<%- include('../partials/header'); %>

<main class="py-5">
  <h1 class="h3">My URLs</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Short URL ID</th>
          <th scope="col">Long URL</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for (let id in urls) { %>
          <tr>
            <td><a href="/u/<%= id %>"><%= id %></a></td>
            <td><span style="word-break: break-all;"><%= urls[id] %></span></td>
            <td><form method="POST" action="/u/<%= id %>/delete"><button name="<%= id %>" class="btn btn-outline-danger" type="submit">Delete</button></form></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

<%- include('../partials/scripts'); %>
</body>
</html>