<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<%- include('../partials/header'); %>

<main class="py-5">
  <h1 class="h3">My URLs</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Short URL ID</th>
        <th scope="col">Long URL</th>
      </tr>
    </thead>
    <tbody>
      <% for (let id in urls) { %>
        <tr>
          <td><a href="/u/<%= id %>"><%= id %></a></td>
          <td><%= urls[id] %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

<%- include('../partials/scripts'); %>
</body>
</html>